{% from "_helpers.html" import render_field %}
{% extends "bootstrap/base.html" %}
{% block title %} Don't Step on the White Tiles {% endblock %}

{% block content %}
  <div style="text-align:center; font-size:120%;
              font-family:'Comic Sans MS',cursive,sans-serif; position:absolute;
              top:50%; left:50%; transform:translate(-50%, -50%);">
  <p> <strong> Score: </strong> {{score}} </p>
  <form method="POST" action="/game_over/{{score}}">
    <dl>
      {{ form.csrf_token }}
      {{ render_field(form.name) }}
      <dt><input type="submit" value="Submit" class="btn btn-primary">
    </dl>
  </form>
  </div>
{% endblock %}
