{% from "_helpers.html" import background_tile, redirect_button %}
{% extends "bootstrap/base.html" %}
{% block title %} Don't Step on the White Tiles {% endblock %}
{% block content %}
  {% set tile_width = 10 %}
  {% set tile_height = 100 %}

  {% for i in range(6) %}
    {% if i % 2 == 0 %}
      {{background_tile(tile_width*i, 0, tile_width, tile_height, 'white', i|string, 'start_tiles')}}
    {% else %}
      {{background_tile(tile_width*i, 0, tile_width, tile_height, 'black', i|string, 'start_tiles')}}
    {% endif %}
  {% endfor %}

  {{redirect_button("window.location.href='/new_game'", 10, 80, 'Start', 150)}}
  {{redirect_button("window.location.href='/highscores'", 30, 80, 'High Scores', 140)}}

  <div style="margin-left:65%">
    <div style="font-size:40pt; font-weight:'bolder'; margin-bottom:0; margin-top:0">
      <table class="table  table-borderless">
        <tbody>
          <tr style="border-width:0"><td> Don't </td></tr>
          <tr style="border-width:0"><td> Step </td></tr>
          <tr style="border-width:0"><td> on the </td></tr>
          <tr style="border-width:0"><td> White </td></tr>
          <tr style="border-width:0"><td> Tiles </td></tr>
        </tbody>
      </table>
    </div>
    <div>
      <p> A project by <br> <strong> TEAM INTERACTIVE </strong> </p>
      <p> Franz Cesista <br> Ray Mart Montesclaros <br> Rein Bugnot </p>
    </div>
  </div>
{% endblock %}
