{% extends "bootstrap/base.html" %}
{% block title %} Don't Step on the White Tiles {% endblock %}

{% block scripts %}
  {{super()}}
  <script src="{{ url_for('static', filename='js/score.js') }}"></script>
  <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
{% endblock %}

{% block content %}
  <div style="text-align:center; font-size:120%;
              font-family:'Comic Sans MS',cursive,sans-serif; position:absolute;
              top:50%; left:50%; transform:translate(-50%, -50%); font-size:200%;">
    <p> <strong> Score: </strong> <span id="score"> {{score}} </span> </p>
    <p> <strong> Time Left: </strong> <span id="time_left"> {{time_left}} </span> seconds </p>
    <button type="button" onclick="window.location.href='/'" class="btn btn-dark" style="margin-top:10%">New Game</button>
  </div>
{% endblock %}
